<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" href="${brand.favicon}" />
	<title>${brand.name} - ${head.title}</title>

	<link href="${appRoot}/res/lib/reset-min.css" rel="stylesheet" type="text/css" />
	<link href="${appRoot}/res/lib/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="${brand.css}" rel="stylesheet" type="text/css" />
	${head.cssLinks}

	<script type="text/javascript">
	// <![CDATA[
		appRoot = "${appRoot}";
		pluginRoot = "${appRoot}/${head.label}";
	// ]]>
	</script>

	<script src="${appRoot}/res/lib/jquery-3.3.1.js"></script>
	<script src="${appRoot}/res/lib/jquery-migrate-3.0.0.js"></script>
	<script src="${appRoot}/res/lib/jquery-ui-1.12.1.js"></script>
	<script src="${appRoot}/res/lib/jquery-ui-i18n-1.12.1.js" type="text/javascript"></script>
	<script src="${appRoot}/res/lib/jquery.cookies-2.2.0.js" type="text/javascript"></script>
	<script src="${appRoot}/res/lib/jquery.tablesorter-2.0.3.js" type="text/javascript"></script>
	<script src="${appRoot}/res/lib/autosize.min.js" type="text/javascript"></script>
	<script src="${appRoot}/res/lib/support.js" type="text/javascript"></script>

    <script type="text/javascript">
    // <![CDATA[
        $(document).ready(function(){
            $( '#navmenu' ).menu({ 
                position: {
                    my: "left top",
                    at: "left bottom"
                },
                classes: {
                    "ui-menu": "ui-corner-all"
                }
            });
        });
        
    // ]]>
    </script>
       
    <!-- FELIX-2188: backwards compatibility CSS -->
    <link href="${appRoot}/res/ui/admin_compat.css" rel="stylesheet" type="text/css" />
</head>

<body class="ui-widget">
	<div id="main">
		<div id="lead"><!-- header: title and logo -->
			<h1>
				${brand.name}<br/>${head.title}
			</h1>
			<p>
				<a rel="external" href="${brand.product.url}" title="${brand.product.name}"><img src="${brand.product.img}" alt="Logo" /></a>
			</p>
		</div>
		<div class="ui-helper-clearfix" style="height:0px">&nbsp;</div>
