<script type="text/javascript" src="${pluginRoot}/res/ui/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="${pluginRoot}/res/ui/codemirror/addon/runmode/runmode.js"></script>
<script type="text/javascript" src="${pluginRoot}/res/ui/codemirror/addon/mode/loadmode.js"></script>
<script type="text/javascript" src="${pluginRoot}/res/ui/script-console.js"></script>
<script type="text/javascript">
// <![CDATA[
var scriptConfig = ${__scriptConfig__};
// ]]>
</script>

<!-- status line -->
<p class="statline">&nbsp;</p>
<div class="ui-widget-header ">
    <img id="ajaxSpinner" src="${appRoot}/res/imgs/loading.gif" tile="Working..." />
    <button type="button" id="executeButton">${console.execute}</button>
    <select id="codeLang">
        <option></option>
    </select>
</div>
<div id="splitter" >
    <div id="code-input">
        <form method="post" action="${pluginRoot}" id="consoleForm">
            <textarea id="code" name="code"
                      style="width: 90%; height: 7em; "></textarea>
            <input type="hidden" name="client" value="webconsole" />
            <input type="hidden" name="lang" value="" />
        </form>
    </div>
    <div id="code-output">
        <textarea id="result" style="width: 90%;" readonly></textarea>
    </div>
</div>

