/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* IE hack */
select { width: 50em }
html>select { width: auto; min-width: 50em }
#config_content table th {
	width:20%
}
#config_content {
	min-width: 80em;
	width:100%;
	margin:0;
	padding:0
}
.multiselect { display: block }
.col_Actions { width: 7em !important }
.pointer { cursor: pointer }
.subpid   { margin-left: 1em; float: left }
tr.fpid   td   { font-style:italic }
#factoryTableCaption { margin-top: 1.5em }
span.default_value {
	float: left; margin-right: .3em;
}
td.col_Exists_body div.ui-icon { margin-left:auto; margin-right: auto }
input.placeholder-active { color: #AAA !important }

.minHeightTextarea {
	min-height: 1.22em;
}

.noPaddingLeft {
	padding-left: 0em !important;
}

.configDescription {
	padding: 0 0 1em 0 !important;
}

.minWidthCell {
	padding-top: 0.5em !important;
	min-width: 10em;
}

.paddedCell {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.topPaddedText {
	padding-top: 0.4em !important;
}

.iconMarginTop {
	margin-top: .25em;
}